<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pune.title %>
</p>

<p>
  <strong>Subheading:</strong>
  <%= @pune.subheading %>
</p>

<p>
  <strong>Eventoftheday:</strong>
  <%= @pune.eventoftheday %>
</p>

<p>
  <strong>Address:</strong>
  <%= @pune.address %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @pune.rating %>
</p>

<p>
  <strong>Photonumber:</strong>
  <%= @pune.photonumber %>
</p>

<p>
  <strong>Review:</strong>
  <%= @pune.review %>
</p>

<%= link_to 'Edit', edit_pune_path(@pune) %> |
<%= link_to 'Back', punes_path %>
