<h1>Breathtaking Malls of pune </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      
      <th>Event of the day</th>
      <th>Address</th>
      <th>Rating</th>
      <th>Number of photoes</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @punes.each do |pune| %>
      <tr>
        <td><%= pune.name %></td>
        
        <td><%= pune.event %></td>
        <td><%= pune.address %></td>
        <td><%= pune.rating %></td>
        <td><%= pune.photo %></td>
        <td><%= pune.review %></td>
        <td><%= link_to 'Show', pune %></td>
        <td><%= link_to 'Edit', edit_pune_path(pune) %></td>
        <td><%= link_to 'Destroy', pune, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pune', new_pune_path %>
